<?xml version="1.0" encoding="utf-8"?>
<manifest package="ie.teamchile.smartapp"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="4"
          android:versionName="1.1.2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="net.hockeyapp.android.UpdateActivity" />

        <activity
            android:name=".activities.SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.QuickMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.AppointmentCalendarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.AppointmentTypeSpinnerActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.ClinicTimeRecordActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.CreateAppointmentActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.ParityDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activities.ServiceUserActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.ServiceUserSearchActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.TodayAppointmentActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.MidwiferyLogActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.HomeVisitAppointmentActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".activities.AboutActivity"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>
</manifest>
