<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ie.teamchile.smartapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" />

<!--         android:name=".maiti.MaitiApplication" //this goes between application tags -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/android:Theme.Material.Light.NoActionBar"> >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AppointmentCalendarActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait"
            android:launchMode="singleTask" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.AppointmentTypeSpinnerActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.CalendarActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.ConfirmAppointmentActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" 
            android:noHistory="true" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.ContactDetailsActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.CreateAppointmentActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait"
            android:launchMode="singleTask" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.ObstreticHistoryActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.ParityDetailsActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.QuickMenuActivity" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.QuickMenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait" />

        <activity
            android:name=".activities.SelectTimeActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.ServiceUserActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.ServiceUserSearchActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.StockNoteActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />

        <activity
            android:name=".activities.TodayAppointmentActivity"
            android:parentActivityName=".activities.QuickMenuActivity"
            android:screenOrientation="sensorPortrait" />
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activities.QuickMenuActivity" />
    </application>

</manifest>